{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 70,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "importOrder": [
    "^http$",
    "^path$",
    "^fs$",
    "^util",
    "^cookies-next",
    "^react",
    "^next",
    "^axios$",
    "^cookie$",
    "^vite",
    "^lodash",
    "^dayjs",
    "^thenby",
    "^body-parser",
    "^@vitejs/(.*)$",
    "^@mantine/(.*)$",
    "^@tabler/(.*)$",
    "^@yb/(.*)$",
    "^#api/(.*)$",
    "^#ui/(.*)$",
    "^#services/(.*)$",
    "^#/(.*)$",
    "^@/pages/(.*)$",
    "^@/constants/(.*)$",
    "^@/layout/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
